<script type="text/javascript">
              $(function() {
			    $("#productHistoryStartingDate" ).datepicker();
			    $("#productHistoryEndingDate" ).datepicker();
			  });
</script>
<%= javascript_include_tag "angular/controller/orderController" %>

<input type="hidden" disabled id="orderItemOrderID"  value="0" />

<div id="NewOrderItem" ng-controller="NewOrderItemController" onload="getProductData()" >
    
    <div class="row customer-section">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8 tabs">
           <button class="btn btn-danger back"><%= link_to 'Back', orders_path %></button>
            <div class="tabsView">
                <!--<div ng-include="currentTab"></div>-->
                <form class="form-horizontal" role="form" id="addNewCustomer">
                    
                    <div class="row">
                        <div class="col-md-2" >
                            <h2> Customer </h2>
                        </div>
                        <div class="col-md-10">
                            
                        </div>
                    </div>
                        
                     <div class="row">
                         <div class="col-md-2" >
                             Customer ID: 
                        </div> 
                            <div class="col-md-4 customer-biodata">
                             <select id="orderCustomerID" class="form-control" onchange="findCustomerData()">
                              <option value="">New Customer</option>
                    
                              <%= Customer.all.each do |customer| %>
                                <option value="<%= customer.id%>"><%= customer.id%> - <%= customer.customer_name%></option>
                              <% end %>
                             </select>
                         </div>
                    </div>
                	   
                     <div class="row">
                         <div class="col-md-2" >
                             Customer Name: 
                        </div>
                         <div class="col-md-4 customer-biodata" >
                             <input type="text" class="form-control" id="orderCustomerName"/>
                         </div>
                         <div class="col-md-6 customer-biodata" >
                             <span id="order_customer_name_header" style="color: red;" hidden>Customer Name </span>
                             <span id="order_customer_name_alert" style="color: red;"></span>
                         </div>
                     </div>
                     
                     <div class=" row">
                         <div class="col-md-2" >
                             Customer Address:
                         </div>
                         
                         <div class="col-md-4 customer-biodata" >
                             <input type="text" class="form-control" id="orderCustomerAddress"/>
                         </div>  
                             
                         <div class="col-md-6 customer-biodata" >
                             <span id="order_customer_address_header" style="color: red;" hidden>Customer Name </span>
                             <span id="order_customer_address_alert" style="color: red;"></span>
                         </div>
                         
                     </div>
                    
                    <div class="row">
                        
                           <div class="col-md-2" > 
                             Customer Phone: 
                         </div>
                            <div class="col-md-4 customer-biodata" >
                                 <input type="text" class="form-control" id="orderCustomerPhone"/>
                         </div>
                         
                             <div class="col-md-6 customer-biodata" >
                                 <span id="order_customer_phone_header" style="color: red;" hidden>Customer Phone </span>
                                 <span id="order_customer_phone_alert" style="color: red;"></span>
                         </div>
                    </div>
                     
                    <div class="row">
                        <div class="col-md-2" >
                         
                        </div>
                        <div class="col-md-4" >
                            <input type="button" id="submitCustomerOrder" value="Next" class="btn btn-success" onclick="orderSetCustomerData()">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <div class="row item-section">
        <div class="col-md-2">
                
        </div>
        <div class="col-md-8 tabs">
            <div class="tabsView">
                <form role="form" id="addOrderItems">
                    <div class="row">
                        <div class="col-md-2" >
                            <button id="up-to-customer" class="btn btn-info" onclick="upToCustomerSection()">
                                <i class="fa fa-caret-square-o-up" aria-hidden="true"></i> UP
                            </button>
                            <h2> Items </h2>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>    
                    
                    <div class="row">
                        <div class="col-md-2" >
                            Bike Name: 
                        </div>
                        <div class="col-md-4 item-to-add">
                            <select id="orderItemProductID" class="form-control" onchange="getProductData()">
                                <option value="">Select Product</option>
                              <%= Product.all.order(:bike_name).each do |product| %>
                                <option value="<%= product.id%>"><%= product.bike_name%></option>
                              <% end %>
                            </select>
                        </div>
                    </div>   
    
                    <div class="row">
                        <div class="col-md-2" >
                            Price: 
                        </div>
                        <div class="col-md-4 item-to-add">
                            <input type="number" class="form-control" id="orderItemPrice" disabled/>
                        </div>
                        <div class="col-md-6 item-to-add">
                           
                        </div>
                    </div>   
    
                     <div class="row">
                        <div class="col-md-2" >
                            Qty: 
                        </div>
                        <div class="col-md-4 item-to-add">
                            <input type="number" class="form-control"  value="Add to cart" id="orderItemQty" minimum="1" onchange="calculateTotalPrice()"/>

                        </div>
                        <div class="col-md-6 item-to-add">
                            <span id="order_item_qty_header" style="color: red;" hidden>Qty </span>
                            <span id="order_item_qty_alert" style="color: red;"></span>
                        </div>
                    </div>   
    
                     <div class="row">
                        <div class="col-md-2" >
                            Total Price: 
                        </div>
                        <div class="col-md-4 item-to-add">
                            <input type="number" class="form-control" id="orderItemTotalPrice" disabled/>
                        </div>
                        <div class="col-md-6 item-to-add">
                           
                        </div>
                    </div>   
                    
                    <div class="row">
                        <div class="col-md-2" >
                            
                        </div>
                        <div class="col-md-4 item-to-add">
                          <input type="button" name="Add To Cart" value="Tai kucing" id="orderItemAddToCart" class="btn btn-success" onclick="addToCart()">
                        </div>
                        <div class="col-md-6 item-to-add">
                           
                        </div>
                    </div>   
    
                     <div class="row">
                        <div class="col-md-12" >
                            
                          <div id="table-responsive-custom">
                            <table summary="This table shows file inside database" class="table table-bordered table-hover">
                              <caption class="text-center">{{title}}</caption>
                              <thead>
                                <tr>
                                  <th>Product Name</th> 
                                  <th>Price</th>
                                  <th>Qty</th>
                                  <th>Total Price</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody >
                                <form>
                                  <tr ng-repeat="i in order_items">
                                    <td id="OrderItemID" style="display:none"> {{i.id}} </td>
                                    <td id="ProductName" > {{i.bike_name}} </td>
                                    <td id="Price" > {{i.price}} </td>
                                    <td id="Qty" > {{i.qty}} </td>
                                    <td id="Total Price" > {{i.price*i.qty}} </td>
                                  <td> <input type="button" value="Delete" data-toggle="modal" data-target="#deleteConfirm" onclick="delId = $(this).parent().parent().find('.OrderItemID').html()"></td> 
                                </tr>
                              </form>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="5" class="text-center">Data retrieved from Back-end Ruby on Rails</td>
                              </tr>
                            </tfoot>
                          </table>
                        </div><!--end of .table-responsive-->
                            <input type="button" name="Save Order" id="saveOrderButton" value="Save" class="btn btn-success" onclick="saveOrder()">
                            <input type="button" name="Confirm Order" id="confirmOrderButton" value="Next" class="btn btn-success" onclick="confirmOrder()">
                            
                        </div>
                    </div> 
              </form>
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>

    <div class="row payment-section">
        <div class="col-md-2">
                
        </div>
        <div class="col-md-8 tabs">
            <div class="tabsView">
                <form role="form" id="payment">
                    
                    <div class="row">
                        <div class="col-md-8" >
                            <button id="up-to-customer" class="btn btn-info" onclick="upToItemSection()">
                                <i class="fa fa-caret-square-o-up" aria-hidden="true"></i> UP
                            </button>
                            <h2> Payment & Delivery </h2>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2" >
                            Shipping Address
                        </div>
                        <div class="col-md-4 payment-shipping-section">
                            <input type="text" class="form-control" id="shippingAddress"/>
                        </div>
                        <div class="col-md-6 payment-shipping-section">
                           
                        </div>
                    </div> 
                    
                     <div class="row">
                        <div class="col-md-2" >
                            Shipping Method
                        </div>
                        <div class="col-md-4 payment-shipping-section">
                            <select id="shippingMethod" class="form-control">
                              
                                 <option value="onTheSpot">On The Spot</option>
                                 <option value="delivery">Delivery</option>
                                 
                            </select>
                        </div>
                        <div class="col-md-6 payment-shipping-section">
                           
                        </div>
                    </div> 
                    
                    <div class="row">
                        <div class="col-md-2" >
                            Shipping Date
                        </div>
                        <div class="col-md-4 payment-shipping-section">
                            <input type="date" class="form-control" id="shippingDate"/>
                        </div>
                        <div class="col-md-6 payment-shipping-section">
                           
                        </div>
                    </div> 
                    
                     <div class="row">
                        <div class="col-md-2" >
                            
                        </div>
                        <div class="col-md-10 payment-shipping-section">
                            <button class="btn btn-success confirm-payment" data-toggle="modal" data-target="#paymentConfirm" >Confirm payment</button>
                            <button class="btn btn-warning confirm-delivery" data-toggle="modal" data-target="#deliveryConfirm">Confirm delivery</button>
                            <button class="btn btn-primary save">Save</button>
                        </div>
                        
                    </div> 
                    
                </form>
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>

</div>
 

<div class="modal fade" id="paymentConfirm" tabindex="-1" role="dialog" aria-labelledby="paymentConfirmLabel">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Payment Confirmation</h4>
        </div>
        <div class="modal-body">
          ARE YOU FUCKING SURE HAD RETRIEVED THE MONEY ??
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" onclick="">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deliveryConfirm" tabindex="-1" role="dialog" aria-labelledby="deliveryConfirmLabel">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delivery Confirmation</h4>
        </div>
        <div class="modal-body">
          ARE YOU FUCKING SURE HAD SENT THE BIKE ??
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" onclick="">Yes</button>
        </div>
      </div>
    </div>
  </div>
  