<!DOCTYPE html>
<html>
<head>

  <title>Product Track <%= @product.bike_name%></title>

  <%= wicked_pdf_stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= wicked_pdf_stylesheet_link_tag "pdf.css" -%>
</head>
<body>
	<div class="container">
    <div class="row">
        <div class="page-header pull-left">
            <h1 style="text-align: left">Hantze Shop</h1>
            <h4><small>Jl.Hantze 52</small></h4>
            <h4><small>Kebayoran Baru, South Jakarta</small></h4>  
            <h4><small>Telp: 021-1234098</small></h4>  
        </div>

        <div class="page-header pull-right">

                <br/>
                <div class="panel-heading" style="background-color:darkgrey;">
                    <b>Report Details</b>
                </div>

                <div class="panel-body">
                	<b>Product ID:</b> <%= @product.id %>
                    <b>Product Name:</b> <%= @product.bike_name %><br/>
                    <b>Product Model:</b> <%= @product.bike_model.model_name %> <br/>
                    <b>Bike Size:</b> <%= @product.bike_size %><br/>
                    <b>Product Price:</b> <%= @product.price %><br/>
                    <b>Start Date:</b> <%= @start_date %> <br/>
                    <b>End Date: </b> <%= @end_date %>
                </div>

        </div>

	<div class="item content" id="content_section10">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="tableWrapper">
    						<table class="table table-striped table-hover">
    							<thead>
    								<tr>
    									<td>Updated On</td>
    									<td>Status</td>
    									<td>Qty Before Changes</td>
    									<td>Changes</td>
    									<td>Qty After Changes</td>
    									<td>Description</td>
    								</tr>
    							</thead>
    							<tbody id="history-tracking">
    								<% stock_track = @starting_stock %>
    								<% @history_track.each do |track| %>
    									<tr>
    										<td><%= track.created_at%></td>
    										<% if (track.alteration > 0) %>
    											<td style="color: green">IN</td>   
    											<td><%= stock_track %></td>  			
    											<td><%= track.alteration %></td>
    											<% stock_track += track.alteration %>
    											<td><%= stock_track %></td> 	
    										<% else %>    											
    											<td style="color: red">OUT</td>
    											<td><%= stock_track %></td> 
    											<td><%= track.alteration * -1 %></td>
    											<% stock_track += track.alteration %>
    											<td><%= stock_track %></td>
    										<% end %>
    										<td><%= track.description %> </td>
    									</tr>
    								<% end %>
    							</tbody>
    						</table>  	
    						Starting Stock: <%= @starting_stock %><br/>
    						Ending Stock: <%= @ending_stock %>
    					</div><!-- /.tableWrapper -->				
    				</div><!-- ./col-md-8 -->
    			</div><!-- /.row -->
    		</div><!-- /.container -->
    	</div><!-- /.item -->
    </div>
    </div>
</body>